* {
  margin: 0;
  padding: 0;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: none;
}

.calculator {
  width: 25%;
  background-color: rgb(158, 158, 158);
}

.calculator input {
  padding: 5px;
  margin: 5px;
  width: 95%;
  text-align: right;
  font-size: 30px;
  border-radius: 5px;
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  color: white;
}

button {
  height: 50px;
  font-size: medium;
}

button:hover {
  cursor: pointer;
  background-color: rgb(13, 13, 112);
  color: white;
}

.zero {
  grid-column: 1/span 2;
}

.orange {
  background-color: orange;
  border: solid gray;
  border-width: 1px;
}
