* {
  margin: 0;
  padding: 0;
}

.buttons {
  border: solid rgb(215, 215, 215);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
}

.calculator {
  border: solid rgb(215, 215, 215);
  width: 40%;
  background-color: gray;
  padding: 5px;
}

button {
  height: 50px;
  font-size: medium;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
  background-color: rgb(13, 13, 112);
  color: white;
}